/*

blue: #0013c9
bold: font-family:"Apercu Bold", Calibri, sans-serif; font-weight:bold;

*/

html { font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal; }

a.jumpmark { position: absolute; top: -120px; }
.speaker a.jumpmark { top: -200px;}

strong{font-family:"Apercu Regular", Calibri, sans-serif; }

.crossed { text-decoration: line-through; }
.notbold { font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal; }

#container { }
#header { height: 110px; background-color: #0fe7d0; position: fixed; width: 100%; padding-top: 10px; z-index: 10; min-width: 982px;}
#header h1 { float: left; font-size: 48px; margin-left: 20px; font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:regular; font-style:normal; }
#header h1 a { text-decoration: none; color: black;}
#header h2 { margin-top: 10px; margin-right: 20px; font-size: 20px; float:right; text-transform: uppercase; color: #0013c9;}
#header h2 strong { font-family:"Apercu Regular", Calibri, sans-serif; font-weight:regular; }

nav#main { width: 100%; clear:both; position: relative; top: 15px; font-family: "Courier New", monospace; font-size: 15px; text-align: center;}
nav#main a {  margin-right: 20px; margin-left: 20px; text-decoration: none; color: black; text-transform: uppercase;}
nav#main a:hover { border-bottom: 1px solid black;}
nav#main a.active { border-bottom: 1px solid black;}

#early_bird { position: fixed; right: 70px; top: 60px; width: 160px; height: 160px; z-index: 11; }
/*#early_bird span {display: none;}*/

#content{clear: both; padding-top: 120px; z-index: 1; min-width: 982px;}

#intro { background: url("../img/vertwalker_musrara.jpg") fixed top left; background-size: cover; }
#intro .intro_circle { width: 360px; height: 360px; background-image: url("../img/white_circle.png"); position: absolute; top: 50%; left:50%; margin-top: -180px; margin-left: -180px; opacity: 0.9;} 
#intro .intro_textblock { margin: 125px auto 0px auto; text-align: center; width: 300px; }
#intro h2 { font-size: 30px; font-family:"Apercu Regular", Calibri, sans-serif; font-weight:regular; border-bottom: 1px solid black; padding-bottom: 5px; text-transform: none; color: black; margin: 0;} 
#intro p {font-size: 30px; margin-top: 5px; margin-bottom: 50px;}
#intro .overlay { font-size: 12px; width: 150px; text-align: center; margin: auto;}

.page { padding-top: 10px; overflow: hidden; position: relative; float: left; width: 100%; padding-bottom: 50px; clear:both;}

h1.page_heading { text-align: right; width: 250px; z-index: 1; position: absolute; left: -210px; top: 300px; font-size: 48px; font-family:"Apercu Regular", Calibri, sans-serif; font-weight:regular; color: #0013c9; 
-webkit-transform: rotate(270deg); -webkit-transform-origin: top right;
-moz-transform: rotate(270deg); -moz-transform-origin: top right;
-o-transform: rotate(270deg); -o-transform-origin: top right;
transform: rotate(270deg); transform-origin: top right;
-ms-transform: rotate(270deg); -ms-transform-origin: top right; }

.about { font-family:"Apercu Regular", Calibri, sans-serif; font-weight:regular; background-color: #e6e6e6; float:left;}
.about .sub_column { width: 200px; float: left; font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal; }
p.light {font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;}

input { width: 200px; border: none; border-bottom: 1px solid black; background-color: white; height:18px; padding:0; margin-bottom: 0; 	}
input.button{border: none; font-style: normal; width: 30px; height: 20px; margin: 5px 0 0 0; padding: 0; cursor: pointer; background-color:#e6e6e6; }

.textblock { margin: auto; width: 620px; font-size: 13px; line-height: 150%;}
.column{ float: left; }
.column_left { width: 400px; padding-right: 20px; }
.column_right {width: 200px; }

.column_right h2 { margin-bottom: 5px;}

h2 { text-transform: uppercase; color: #0013c9; font-size: 20px; font-family:"Apercu Regular", Calibri, sans-serif; font-weight:regular; margin: 30px 0 20px 0;}

p { margin-bottom: 1em; }

.day {float: left; width: 100%; position: relative; margin-top: 30px;}
.program {background-color: #e6e6e6; padding-bottom: 100px;}
.program .textblock {text-align: center; line-height: 150%; font-family:"Apercu Regular", Calibri, sans-serif; font-weight:regular; padding: 0 10px; width: 800px;}
.program div.room { width: 397px; float: left; text-align: center; margin-top: 40px; }
.program .mainhall {border-right: 3px solid #0013c9; width: 400px;}
.program .event { margin: 30px 0;}
.program h3 { margin-top: 70px; text-transform: uppercase; color: #0013c9; font-size: 18px; font-family:"Apercu Regular", Calibri, sans-serif; font-weight:regular; border-bottom: 1px solid #0013c9; padding-bottom: 3px; display: inline-block; }
.program h4 { text-transform: uppercase; color: #0013c9; font-size: 18px; font-family:"Apercu Regular", Calibri, sans-serif; font-weight:regular; margin-top: 4px; padding: 0 20px; line-height: 130%; }
.program h4 a {text-decoration: none; color: #0013c9;}
.program h4 a:visited {color: none; color: #0013c9;}
.program h4.room {color: black; float: none; margin-top: 0;}
.program small {display: block; color: red; font-size: 11px;}
.program p {margin-top: 4px; padding: 0 20px;}
.program .evening { clear: both; border: 10px solid #0013c9; width: 450px; margin: auto; padding: 18px 0 10px 0; background-color: white;}
.program .evening p.small { font-size: 11px; }

.speakers { background-color: white; font-size: 13px; line-height: 150%; font-family:"Apercu Regular", Calibri, sans-serif; font-weight:regular;}

#speaker_overview { text-align: center; margin-bottom: 0; }
#speaker_overview ul { margin: auto; width: 700px; text-align: center;}
#speaker_overview ul li { margin-right: 5px; display: inline; }
#speaker_overview ul li a{ text-decoration: none; text-transform: uppercase; font-size: 16px; color: #0013c9; margin-right: 5px;}
#speaker_overview ul li a:hover{ text-decoration: underline;}
#speaker_overview ul li:after {color: #0013c9; content: " • ";}
#speaker_overview li.tba { text-transform: uppercase; font-size: 16px; color: red; margin-right: 5px; }

.speaker { float: left; width: 100%; min-height: 600px; margin-left: 120px; position: relative; background-repeat: no-repeat; background-attachment: fixed; background-position: 600px 260px;} 
/*.speaker img { width: 300px; position: absolute; top: 100px; left:650px; z-index: 1;}*/
.speaker_images { position: absolute; left: 740px; top:60px; z-index: 0; width: 5000px; }
.speaker .speaker_images img {  height: 450px; margin-top: 0px; margin-right: 20px;}
/*.speaker_textblock {position: relative; left: 200px; width: 400px; text-align: center; z-index: 10;	}*/
.speaker_textblock { float:left; position: relative; margin-top: 0px; width: 400px; text-align: center; z-index: 1; margin-bottom: 30px;}
.speaker_textblock h2 { color: black; border-bottom: 2px solid black; padding-bottom: 3px; font-size: 30px; text-transform: none; display: inline-block; margin-top: 40px; line-height: 120%;}
.speaker_textblock p { text-align: justify; }

.murchu { background-image: url("../img/murchu.jpg"); }
.deschamps-sonsino { background-image: url("../img/deschamps-sonsino.jpg"); }
.cugun { background-image: url("../img/cugun.jpg"); }
.shapiro { background-image: url("../img/shapiro.jpg"); }
.auger { background-image: url("../img/auger.jpg"); }
.oliver { background-image: url("../img/oliver.jpg"); }
.bailey { background-image: url("../img/bailey.jpg"); }
.mcdonald { background-image: url("../img/mcdonald.jpg"); }
.huebler { background-image: url("../img/huebler.jpg"); }
.muermann { background-image: url("../img/muermann.jpg"); }
.kirn {background-image: url("../img/kirn.jpg"); }
.delahunta {background-image: url("../img/delahunta.jpg"); }
.mathe {background-image: url("../img/mathe.jpg"); }
.pohflepp {background-image: url("../img/pohflepp.jpg"); }
.heinrich {background-image: url("../img/heinrich.jpg"); }
.turrell {background-image: url("../img/turrell.jpg"); }

.workshops { background-color: white; font-size: 13px; line-height: 150%; font-family:"Apercu Regular", Calibri, sans-serif; font-weight:normal; }
.workshops p {text-align: justify;}
.workshops p.signup { margin-top: 20px; text-transform: uppercase; font-family:"Apercu Regular", Calibri, sans-serif; font-weight:regular;}
.workshops img { float: right; padding: 0 0 10px 20px; width: 300px;}
.workshops h2 {padding-top: 50px;}
.workshops table {margin-top: 20px; background-color: #e6e6e6; width: 620px;}
.workshops table td {padding: 5px;}

.tickets { background-color: #ff5967; }
.tickets strong { font-family:"Apercu Regular", Calibri, sans-serif; font-weight:regular; margin-top: 6px; display: block;}
p.note {font-size: 10px; line-height: 100%;}

h2.ticketshop a {text-decoration: none; font-size: 30px; margin-top: 40px; display: block; }
h2.ticketshop a:visited { color: #0013c9; }

.venue {padding-top: 0; padding-bottom: 0;}
.venue .textblock { position: absolute; }

.partners {background-color: rgb(168, 64, 195);	text-align: center;}
.partners .textblock {width: 800px; padding-top: 40px;}
.partners h2 {color: white; font-size: 14px; margin: 10px 0 30px 0; font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;}
.partners img {margin-right: 30px; margin-left: 30px; }
.partners img.last {margin-right: 0; }
hr {margin-bottom: 10px; margin-top: 30px;}

.imprint {background-color: black; padding-bottom: 0; margin-bottom: 0;}
.imprint p {color: white;}
.imprint h5 {text-transform: uppercase; color: white; font-size: 14px; font-family:"Apercu Regular", Calibri, sans-serif; font-weight:regular; margin: 15px 0 5px 0;}

